* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --background: #060608;
    --BodyBackground: #060608;
    --color: #FAFAFA;
  }
  
  html, body {
    min-width: 100%;
    height: 100%;
    font-family: Arial;
  }
  
  body {
    display: flex;
    align-items: center;
    background: var(--background);
    flex-direction: column;
  }

  #typeText{
    color: green;
    font-family: Courier New;
    font-size: 30px;
    text-shadow: 0px 0px 10px green, 0px 0px 5px green;
    line-height: 30px;
  }

  #mainFoot{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
  }
  
  #cursor{
    background-color: green;
    width: 10px;
    height: 24px;
    margin-top: 5px;
  }
  
  .hidden{
    display: none;
  }

  #locandina{
    margin-top: 10px;
    max-width: 75vw;
    max-height: 75vh;
  }
  
  .container {
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    text-align: center;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }
  @media screen and (max-width:600px) {
    .stack span {
        font-size: 3rem;
    }
  }